go 1.25.0

use (
	./api
	// 'bench' module is explicitly excluded from the workspace
	// because karpenter also uses core k8s packages resulting in
	// conflicts with other modules and patch go versions which
	// causes 'hack/check.sh' to fail.
	./common
	./minkapi
	./operator
	./planner
	./pricing
	./samples
	./service
	./tools
)
